<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lframework.xingyun.basedata.mappers.quote.QuoteSheetDetailMapper">
  <insert id="batchInsert">INSERT INTO tbl_quote_sheet_detail (id, quote_sheet_id, product_id, sale_price, tenant_id) VALUES <foreach collection="details" item="item" separator=",">(#{item.id}, #{item.quoteSheetId}, #{item.productId}, #{item.salePrice}, #{item.tenantId})</foreach></insert>
</mapper>
