<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lframework.xingyun.sc.mappers.SaleOutSheetDetailMapper">
    <resultMap id="SaleOutSheetDetail" type="com.lframework.xingyun.sc.entity.SaleOutSheetDetail">
        <id column="id" property="id"/>
        <result column="sheet_id" property="sheetId"/>
        <result column="product_id" property="productId"/>
        <result column="order_num" property="orderNum"/>
        <result column="confirm_num" property="confirmNum"/>
        <result column="ori_price" property="oriPrice"/>
        <result column="tax_price" property="taxPrice"/>
        <result column="confirm_amt" property="confirmAmt"/>
        <result column="discount_rate" property="discountRate"/>
        <result column="is_gift" property="isGift"/>
        <result column="tax_rate" property="taxRate"/>
        <result column="description" property="description"/>
        <result column="order_no" property="orderNo"/>
        <result column="return_num" property="returnNum"/>
        <result column="tax_amount" property="taxAmount"/>
        <result column="cost_price" property="costPrice"/>
        <result column="total_profit" property="totalProfit"/>
        <result column="manual_input_cost" property="manualInputCost"/>
    </resultMap>

    <sql id="SaleOutSheetDetailDto_sql">
        SELECT
            d.id,
            d.sheet_id,
            d.product_id,
            d.order_num,
            d.confirm_num,
            d.ori_price,
            d.tax_price,
            d.confirm_amt,
            d.discount_rate,
            d.is_gift,
            d.tax_rate,
            d.description,
            d.order_no,
            d.return_num,
            d.tax_amount,
            d.cost_price,
            d.total_profit,
            d.manual_input_cost
        FROM tbl_sale_out_sheet_detail AS d
    </sql>
    <update id="addReturnNum">
        UPDATE tbl_sale_out_sheet_detail
        SET return_num = return_num + #{num}
        WHERE id = #{id}
        AND (order_num - return_num) >= #{num}
    </update>
    <update id="subReturnNum">
        UPDATE tbl_sale_out_sheet_detail
        SET return_num = return_num - #{num}
        WHERE id = #{id}
        AND return_num >= #{num}
    </update>
</mapper>
