[Unit]
Description=Xingyun ERP API Test
After=network.target

[Service]
Type=simple
User=www
WorkingDirectory=/www/wwwroot/xingyun
ExecStart=/usr/bin/java -Dspring.profiles.active=test -jar -Xmx1024M -Xms256M /www/wwwroot/xingyun/xingyun-api.jar
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
