*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: initial;
}

.vxe-table--body .inline-product-select-active-row > td {
  background-color: #e6f4ff !important;
}
